@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Work+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+RO:wght@100..400&display=swap');

:root{
	font-size: 20px;
	--scale: 1.618;
	--size-5xl:calc(var( --size-4xl) * var(--scale));
	--size-4xl:calc(var( --size-3xl) * var(--scale));
	--size-3xl:calc(var( --size-xxl) * var(--scale));
	--size-xxl: calc(var( --size-xl) * var(--scale));
	--size-xl: calc(var(--size-l) * var(--scale));
	--size-l: calc(var(--size-m) * var(--scale));
	--size-m: 1rem;
	--size-s: calc(var(--size-m) / var(--scale));
	--size-xs: calc(var(--size-s) / var(--scale));
	--size-xxs: calc(var(--size-xs) / var(--scale));

	/*--primary-color: #272a49;
	--primary-color: #1f2023;*/
	--mono-pri:#2e282a  ;
	--secondary-color: #2140f6;
	--secondary-color: #2e52e1;
	--mono-sec: #1EA6FF;
	/*--tertiary-color: #fff; 
	--tertiary-color: #fefdff
	--mono-ter: #E6E6E6;*/
	--page-padding: 1.618rem;
	--trans-content: -30vh;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	letter-spacing: 0.03rem;
}
html{
	scroll-behavior: smooth;
}

body {
	transition: background-color 0.618s;
	margin: 0;
	color: var(--tertiary-color);
	background-color: var(--primary-color);
	font-family: "Work Sans",new-science-mono, sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
	background-image: url(../img/noise.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}



a {
	text-decoration: none;
	color: var(--secondary-color);
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	outline: none;

}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	filter: opacity(0.6);
}


a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

/*--------------------------------------------------------------------*/
#scroll-top{
	background-color: var(--tertiary-color);
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0;
	width: 2.6em;
	height: 2.6em;
	color: var(--primary-color);
	margin:1.618rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	transition: filter 1.618s , visibility 1.618s;
	visibility: hidden;
}

  input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
  }
  
  label {
	font-size: 1em;
	cursor: pointer;
	text-indent: -9999em;
	width: 3.17em; 
	height: 1.59em; 
	background: var(--primary-color);
	display: block;
	border-radius: 1.59em; 
	position: relative;
	/*top: 7%;
	left: 3.2%;
	z-index: 10;*/

  }
  
  label:after {
	content: '';
	position: absolute;
	top: 0.08em; 
	left: 0.08em; 
	width: 1.43em; 
	height: 1.43em; 
	background: var(--secondary-color);
	border-radius: 1.43em; 
	transition: 0.3s;
  }
  
  input:checked + label {
	background: var(--primary-color);
  }
  
  input:checked + label:after {
	left: calc(100% - 0.08em); 
	transform: translateX(-100%);
  }
  
  label:active:after {
	width: 2.07em; 
  }
