@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Work+Sans:ital,wght@1,500&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;

}

.size-xxl{
	font-size: calc(var( --size-xl) * 1.618);
}
.size-xl{
	font-size: calc(var(--size-l) * 1.618);;
}
.size-l{
	font-size: calc(var(--size-m) * 1.618);;
}
.size-m{
	font-size: 1rem;
}
.size-s{
	font-size:calc(var(--size-m) / 1.618);
}
.size-xs{
	font-size:calc(var(--size-s) / 1.618);
}

body {

	margin: 0;
	color: var(--tertiary-color);
	background-color: var(--primary-color);
	font-family: "Work Sans",new-science-mono, sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}



a {
	text-decoration: none;
	color: var(--tertiary-color);
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}






/*--------------------------------------------------------------------*/
#scroll-top{
	background-color: var(--tertiary-color);
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0;
	width: 2.6em;
	height: 2.6em;
	color: var(--primary-color);
	margin:1.6rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	transition: filter 1.618s;
	visibility: hidden;
}
